.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
}

.about__me {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 20%;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent,
    #876482,
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-img img {
  border-radius: 20%;
  /* margin-top: 8px; */
}

.about__me-img {
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-img:hover {
  transform: rotate(0);
}

.about-me-details h3 {
  color: var(--color-primary);
}
.about-me-details ul {
  margin-bottom: 1rem;
}
.contact-btn {
  margin-top: 1rem;
}

.about-me-details ul li span:nth-child(1) {
  color: var(--color-primary);
  font-size: 14px;
  padding-right: 3px;
}
.about-me-details ul li span:nth-child(2) {
  color: var(--color-light);
  font-size: 14px;
  padding-right: 3px;
  padding: 0 4px;
}
.about-me-details ul li span:nth-child(3) {
  color: var(--color-primary);
  padding: 0 4px 0 0;
}

.text-date {
  color: var(--color-primary) !important;
  font-size: 12px;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-bg-transparent);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/* *************Media Query (Medium Devices)************** */

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
  }

  .about__me {
    width: 50%;
    margin: 1rem auto 0rem;
  }

  .about__content {
    margin: 1rem 0 1.5rem;
    text-align: left !important;
  }
}

/* *************Media Query (Amall Devices)************** */
@media screen and (max-width: 660px) {
  .about__me {
    width: 80%;
  }

  .about__cards {
    /* margin-top: -4rem; */
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }
}
